body {
    font-family: sans-serif;
  }
  * {
    margin: 0px;
  }
  .nav {
    /* border: 1px solid; */
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    margin: 0px;
  }
  .menus {
    /* border: 1px solid red; */
    display: flex;
  }
  .menus :hover {
    background-color: #fff;
    color: black;
  }
  .menus a {
    text-decoration: none;
    font-size: 3.5vw;
    padding: 2vh 2vw;
    color: white;
  }
  #active {
    background-color: #04aa6d;
    color: white;
  }
  #icon {
    /* border: 1px solid; */
    display: flex;
    padding: 2vh 2vw;
    font-size: 3.5vw;
    position: absolute;
    right: 0px;
    color: white;
    display: none;
  }
  #icon:hover {
    background-color: #fff;
    color: black;
  }
  @media screen and (max-width: 600px) {
    .menus a:not(:first-child) {
      display: none;
    }
    .menus {
      flex-direction: column;
      /* width: 100%; */
    }
    #icon {
      display: block;
      cursor: pointer;
    }
  }
  