body{
  font-family: sans-serif;
}
*{
  margin: 0px;
}
.scrollmenu{
  /* border: 1px solid; */
  overflow: auto;
  white-space: nowrap;
  background-color: #333;
}
.scrollmenu a{
  text-decoration: none;
  padding: 14px;
  display: inline-block;
  text-align: center;
  color: white;
}
.scrollmenu a:hover {
  background-color: #777;
}