body {
    font-family: sans-serif;
  }
  
  * {
    margin: 0px;
    padding: 0px;
  }
  nav {
    background-color: grey;
    width: 16vw;
    overflow: hidden;
  }
  nav > a {
    padding: 3vh 6vw;
    display: block;
    font-size: 4vw;
    color: #fff;
    margin-right: -5px;
    cursor: pointer;
  }
  nav > a:hover {
    background-color: #000;
  }
  nav > a:first-child {
    background-color: green;
  }